.nav-bar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.476);
}

.nav-bar__container ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: auto;
}

.nav-bar__container ul li a{
    color: black;
    text-decoration: none;
}

.session-btn {
  margin-right: 5rem;
  width: 10rem;
  padding: .5rem 0;
  border: none;
}
