.register-page_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100svh;
  width: 100%;
}

.register-page__form {
  display: flex;
  flex-direction: column;
  min-height: 55%;
  width: 28%;
  justify-content: space-around;
  padding: 2rem 2rem;
  border: 1px solid black;
  border-radius: .5rem;
}

.register-page__form > h1 {
  align-self: center;
  letter-spacing: .15rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.register-page__form > label {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.558);
}

.register-page__form input,
.register-page__form select{
  height: 2rem;
  border: none;
  border-bottom: 1px solid black;
  padding-left: .5rem;

}

.register-page__form input:focus,
.register-page__form select:focus {
    outline: none;
}

.register-form__button {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.register-form__button input[type="submit"] {
    margin-top: 2rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    background: linear-gradient(45deg,#b3001e, #fe4444);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .2rem;
}

.register-form__button > a {
    display: flex;
    align-self: center;
    color: black;
    text-decoration: underline;
}
