.category-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.category-card__container > div {
    display: flex;
    width: 9rem;
    height: 9rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3.5px solid rgba(50, 50, 50, 0.886);
    transition: transform 0.3s ease; 
}

.category-card__container > div:hover {
    transform: scale(1.2)
}

.category-card__container > div > p {
    font-size: 3.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-card__name {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.71);
}

.hover-background {
    width: 200px;
    height: 200px;
    transition: background-color 0.3s ease; /* Transición suave durante 0.3 segundos */
  }
  
  .hover-background:hover {
    background-color: red; /* Color de fondo al pasar el mouse sobre el elemento */
  }