.dropdown-menu__container {
  background-color: white;
  width: 18rem;
  position: absolute;
  right: 0.5rem;
  top: 6rem;
  height: 12rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
}

.dropdown-menu__container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  justify-content: space-evenly;
}

.dropdown-menu__container ul a {
  text-decoration: none;
}

.dropdown-menu__container ul li {
  padding: 0.85rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.704);
  cursor: pointer;
}
