@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100..900&display=swap');

.header__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__container > header {
  width: 99%;
  height: 6rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 4px .2px rgba(0, 0, 0, 0.418);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container-menu {
  width: 7rem;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(48, 48, 48, 0.522);
  font-size: 2rem;
  color: black;
  cursor: pointer;
  /* background-color: red; */
  position: relative;
}

.header__container__results {
  position: absolute;
  background-color: white;
  width: 20rem;
  max-height: 30rem;
  top: 3rem;
}

.header__container__form-search {
  position: absolute;
  top: .7rem;
  left: 9rem;
  display: flex;
  gap: .4rem;
}

.header__container-img {
  display: flex;
  justify-content: center;
  user-select: none;
}

.header__container-img > img {
  width: 7rem;
}

.header__container-username {
  border-left: 1px solid rgba(48, 48, 48, 0.522);
  width: 16rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.header__container-username > p {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  font-family: "Noto Sans Lao Looped", sans-serif;
}

.menu-arrow {
  color: red;
}

.header__container-username > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1.2px solid rgba(48, 48, 48, 0.77);
  padding: 0.1rem;
}
