.header-filter__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-filter__container > .header-filter {
    background: #fe4444fb;
    width: 99%;
    min-height: 20rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-filter > div {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.header-filter h1 {
    color: var(--font-color);
    font-size: 2.2rem;
    letter-spacing: .1rem;
    filter: drop-shadow(1px 1px 1px black);
}

.header-filter input {
    height: 2.5rem;
    border: none;
    border-radius: .2rem;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.header-filter input::placeholder {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.273);
}

.header-filter input:focus {
    outline: 2px solid black;
}