@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: arial-rounded;
    src: url('../assets/arial-rounded.ttf');
}

:root {
    --font-color : #EDF2F4;
    --primary-font-color : #ED3237;
    --login-page_bg: radial-gradient( #ff4867, #ab0101);
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: arial-rounded;
    user-select: none;
}

html, body {
    font-size: 90%;
    width: 100%;
}