@font-face {
    font-family: arial-rounded;
    src: url('../assets/arial-rounded.ttf');
}

:root {
    --font-color : #EDF2F4;
    --login-page_bg: radial-gradient(#fe4444, #b3001e);
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: arial-rounded;
}

html, body {
    font-size: 100%;
    width: 100%;
}